.notification {
    max-width: 400px;
    min-height: 60px;
    max-height: 200px;
    overflow: hidden;
    color: white;
    padding: 25px 7px 5px 7px;
    border: 2px solid grey;
    border-radius: 7px;
    margin-bottom: 5px;
    position: relative;
}

.notification button {
    height: 0;
    width: 0;
}

.notification button {
    color: white;
    position: absolute;
    top: 0px;
    right: 12px;
    background: transparent;
    padding: 3px;
    border: none;
    cursor: pointer;
}