.articleComp {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 1px solid;
    border-radius: 7px;
}

.articleComp .authorName {
    color: mediumseagreen;
}

.articleComp .date {
    color: green;
    font-size: 14px;
}
